__pycache__/
*.py[cod]
.idea/
temp_auto_push.bat
external/*
**/uv.lock
*.egg-info/
**/.venv/
/.internal
/.tmp_pytest_m3_final
/.tmp_pytest_ui_hotfix2
/.tmp_pytest_ui_hotfix4
/.tmp_pytest_ui_hotfix5
/.tmp_pytest_ui_hotfix7
/.tmp_pytest_ui_hotfix_all
/.tmp_pytest_ui_model_fix2
/pytest_tmp_global
/runs
/.internal
/.internal
temp_interactive_push.bat
